@import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }
  .collumn-padding {
    padding: 0.3rem 0rem 0rem;
  }
}
.button {
  background-color: rgba(209, 56, 29, 0.877);
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
}
