<nb-card size="medium">

    <nb-card-header>
      <span>Rule Execution Error</span>
    </nb-card-header>
  
    <nb-list class="user-activity-list">
      <nb-list-item *ngFor="let item of userActivity">
  
        <div class="visited-date">
          {{ item.date }}
        </div>
  
        <div class="visited-pages-count">
          <div class="value">{{ item.pagesVisitCount }}</div>
        </div>
  
        <div class="visited-percentages">
          <div class="delta value" [class.up]="item.deltaUp" [class.down]="!item.deltaUp">
            {{ item.newVisits }}%
          </div>
        </div>
  
      </nb-list-item>
    </nb-list>
  
  </nb-card>
  